* {
    box-sizing: border-box;
    /* border: 1px solid rgba(255, 0, 0, 0.498); */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vw
    ;
    /* border: 1px solid rgb(8, 186, 8); */
    font-family: 'Poppins', sans-serif;
}

.container-card {
    padding: 20rem;
    /* border: 1px solid blue; */
    /* background-color: rgba(250, 128, 114, 0.195); */
}

.card {
    /* background: rgb(238,174,202); */
    background: linear-gradient(325deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10%;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    max-width: 600px;
    padding: 2rem 1.5rem 1.5rem;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 74px rgba(252, 75, 252, 0.5)  ; 
	-webkit-box-shadow: 0 5px 74px rgba(252, 75, 252, 0.5)  ; 
	-moz-box-shadow: 0 5px 74px rgba(252, 75, 252, 0.5)  ; 


    
}


.counter-content {
    /* border: 1px solid red; */
}


.button-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.counter-title {
    text-align: center;
    
}

.counter {
    text-align: center;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* border: 1px solid grey; */
}

button {
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 15%;
    border-style: none;
    min-height: 5rem;
    max-height: 5rem;
    min-width: 6rem;
    max-height: 5rem;
    font-size: 1rem;
    font-weight: 300;
    
}


#actualcounting {
    font-size: 5rem;

}

h1 {
    font-weight: lighter;
    font-size: 4em;
    padding-bottom: 1rem;
}

body {
    background-color: rgba(208, 208, 208, 0.898);
}